body {
    color: #999;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
}

.status {
    display: block;
    box-sizing: border-box;
    font-size: 24px;
    color: rgb(160, 120, 120);
    position: absolute;
    width: 400px;
    height: auto;
    text-align:center;
    background-color: antiquewhite;
    border-style: solid;
    box-shadow: 0 2px 8px 0 #999;
}

.status_text {
    color: #000;
}

.start_game_started {
    background-color: rgb(141, 150, 140);
}

.mole {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}